.pro-text {
    margin-bottom: 20px;
    text-align: center;
}
.pro-text h4 {
    font-size: var(--title_2);
    font-weight: 300;
    color: var(--dark);
    text-transform: capitalize;
    text-align: center;
}
.pro-text h4 span {
    font-weight: 300;
    color: var(--primary);
}
.pro-text p {
    font-size: var(--para);
    line-height: 24px;
    font-weight: 400;
    color: var(--gray);
    text-align: center;
    max-width: 750px;
    display: inline-block;
    margin-bottom: 0;
}


@media(max-width: 768px) {
    .pro-text h4 {
        font-size: var(--title_1);
    }
    .pro-text p {
        font-size: var(--para);
    }
} 